-- Finarcast sync: tablolara updated_at ekleyin (yoksa).
-- Supabase SQL Editor'da calistirin.

alter table if exists vaults
  add column if not exists updated_at timestamptz default now();

alter table if exists transaction_records
  add column if not exists updated_at timestamptz default now();

alter table if exists app_settings
  add column if not exists updated_at timestamptz default now();

-- RLS ornegi (tablolarinizda zaten varsa atlayin)
-- alter table vaults enable row level security;
-- create policy "vaults_own" on vaults for all using (auth.uid() = user_id);
